version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=1
      - EMAIL_HOST_USER=sumitbadake@gmail.com
      - DEFAULT_FROM_EMAIL=sumitbadake@gmail.com
    depends_on:
      - db

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=defect_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: